<div>
    <table mat-table [dataSource]="proyectosTabla" matSort class="mat-elevation-z8">
        <caption>PROYECTO CREADOS</caption>
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre Proyecto </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_proyecto}} </td>
        </ng-container>
        <ng-container matColumnDef="Nombre_creador">
            <th mat-header-cell *matHeaderCellDef> Creador del proyecto </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_usuario}} </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
<div class="container_titulo">
    <p class="titulo">REGISTRAR PROYECTO</p>
</div>
<div class="registro">
    <div class="imagen">
        <img src="./assets/image/administrador.png" alt="">
    </div>
    <!--           Formulario para Proyecto             -->
    <div class="formularioGeneral">
        <form [formGroup]="formRP" class="form-inline">
            <div class="campo_texto">
                <mat-form-field appearance="outline" class="tamano">
                    <mat-label>NOMBRE DEL PROYECTO</mat-label>
                    <input matInput placeholder="e-commerce" formControlName="nombre_proyecto"
                        class="formu">
                </mat-form-field>
            </div>
            <div class="campo_texto">
                <button mat-raised-button [disabled]="formRP.invalid" color="primary"
                    style="float: left; margin-left: 20px; margin-top: 20px;" class="boton" type="submit"
                    (click)="registrarProyecto()">Registrar Proyecto
                </button>
            </div>
        </form>
    </div>
</div>
