<div class="container_titulo">
    <p class="titulo">REGISTRO USUARIO</p>
</div>

<div class="registro">
    <div class="imagen">
        <img src="./assets/image/administrador.png" alt="">
    </div>
    <!--           Formulario para acudiente y docente             -->
    <div class="formularioGeneral">
        <form [formGroup]="formRU" class="form-inline">
            <div class="campo_texto">
                <mat-form-field appearance="outline" class="tamano">
                    <mat-label class="textC">NOMBRE</mat-label>
                    <input matInput placeholder="Juan David" formControlName="nombre" class="formu">
                </mat-form-field>
            </div>
            <div class="campo_texto">
                <mat-form-field appearance="outline" class="tamano">
                    <mat-label>APELLIDO</mat-label>
                    <input matInput placeholder="Castro Lopez" formControlName="apellido" class="formu">
                    
                </mat-form-field>
            </div>

            <div class="campo_texto">
                <mat-form-field appearance="outline" class="tamano">
                    <mat-label class="formu">DOCUMENTO</mat-label>
                    <input matInput placeholder="1010101012" formControlName="documento" class="formu">
                </mat-form-field>
            </div>
            <div class="campo_texto">
                <mat-form-field appearance="outline" class="tamano">
                    <mat-label>CONTRASEÑA</mat-label>
                    <input matInput placeholder="Contraseña" formControlName="clave"
                        [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="campo_texto">
                <mat-form-field appearance="outline" class="tamano">
                    <mat-label>EMPRESA</mat-label>
                    <mat-select formControlName="id_proyecto">
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="campo_texto">
                <button mat-raised-button [disabled]="formRU.invalid" color="primary"
                    style="float: left; margin-left: 20px; margin-top: 20px;" class="boton" type="submit">Enviar Registro</button>
                    <!--(click)="registrar($event)"-->
            </div>
        </form>
    </div>
</div>